[{:itonami.blueprint/social-impact [:local-jobs], :itonami.blueprint/domain :services/packing-fulfillment, :itonami.blueprint/required-technologies [:robotics :forms :audit-ledger], :itonami.blueprint/isco-08 "9321", :itonami.blueprint/name "Independent Packing & Fulfillment Practice", :itonami.blueprint/governor :packing-fulfillment-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-9321", :itonami.blueprint/license "AGPL-3.0-or-later"}]